#header {
    text-decoration: none;
}

#header:link {
    color: orange;
}

/* visited link */
#header:visited {
    color: orange;
}

/* mouse over link */
#header:hover {
    color: orange;
}

/* selected link */
#header:active {
    color: orange;
}


img.logo {
    width:400px;
    height: 200px;
}

a.navbar-brand {
    height: 200px;
    padding:0;
    padding-right: 25px;
}



ul.nav > li > a {
    color: black;
    padding: 150px 15px 30px 15px;
}

.navbar {
    border: 0;
    border-radius:0;
    border-bottom:1px solid black;

    background:white;
    font-size: 18px;
    margin:25px;

}

/*.item {
    width: 50px;
}

.carousel {
    width:50px;
}*/
/*
ul.nav-ul {
    list-style-type: none;
    font-weight: bold;
}

li {
    display: inline;
}
.navbar{
    overflow: auto;

    background-color: #ededed;
}

a.no-dec {
    color:black;
    text-decoration: none
}
a.no-dec:visited {
    color: black;
}

.nav-element {
    float: left;
}
.clear {
    clear: both;
}*/